<div class="container bg-white p-2">
    <% @user.friends.each do |friend| %>
        <% if friend.user_type == 'page'%>
        <div class="col">
            <div class="d-flex align-items-center">
                <%= link_to user_path(friend), class: "shadow-sm p-2 rounded text-align-center" do %>
                <% if friend.image_profile_id %>
                    <%= image_tag Image.find(friend.image_profile_id).url, class: "image-friends-publish" %>
                <% else %>
                    <img src="https://via.placeholder.com/200" alt="Profile photo" class="image-friends-publish">
                <% end %>    
                <% end %>           
            </div>
            <label><strong><%= friend.full_name %></strong></label>
        </div>
        <% end %>
    <% end %>
</div>