<h3>Historias</h3>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid div-fluid-histories">
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
        <% @histories.each do |history| %>
        <% user = User.find(history.user_id) %>
        <li class="nav-item">
          <a class="nav-link text-center " href="#">
          <div class="contain-div-history">
            <%= image_tag history.image_url, class:"image-history" %>
            <div class="">
              <label class="fs-5 mx-2 text-name-history"><%= user.user_type != 'page'? current_user.full_name : current_user.first_name %></label>
            </div>
          </div>
          </a>
        </li>
      
        <% end %>
      </ul>
    </div>
  </div>
</nav>