<a href="#" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1">
    <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614409/standard_xjyqec.png" alt="Cover photo" class="game-image-icon">
    <span class="fs-5 mx-2">Crash Team Rumble</span>
</a>
<a href="#" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1">
    <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/1366_2000-e1601545033631_eigcgj.jpg" alt="Cover photo" class="game-image-icon">
    <span class="fs-5 mx-2">Contra Classic Game</span>
</a>
<a href="#" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1">
    <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/download_1_dmh1od.jpg" alt="Cover photo" class="game-image-icon">
    <span class="fs-5 mx-2">Super Mario Bros Star</span>
</a>
<a href="#" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1">
    <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/video-games-pacman-retro-games-blue-wallpaper-preview_wfauor.jpg" alt="Cover photo" class="game-image-icon">
    <span class="fs-5 mx-2">Pacman Classic Game</span>
</a>