<% current_user.friends.where(user_type: 'page').limit(3).each do |friend| %>
    <%= link_to user_path(friend), class:"d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1" do %>
        <% if friend.image_profile_id %>
        <%= image_tag Image.find( friend.image_profile_id).url, class:"pages-image-icon" %>
        <% else %>
            <i class="fa fa-user fa-2x mx-2"></i>
        <% end %>
        <span class="fs-5 mx-2"><%= friend.first_name  %></span>
    <% end %>
<% end %>
<%= link_to profile_pages_path(current_user), class:"d-flex align-items-center my-3 mb-md-0 me-md-auto link-dark text-decoration-none" do %>
    <i class="fa fa-users fa-2x text-secondary mx-2"></i>
    <span class="fs-5 mx-2">Ver todas las paginas</span>
<% end %>