<div class="card border-0 shadow-sm rounded-3">
  <div class="card-body">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Avatar">
      </div>
      <div class="col">
        <input type="text" class="form-control border-0" placeholder="¿Qué estás pensando?">
      </div>
        <button type="button" class="btn btn-success float-right">Publicar</button>
    </div>
  </div>
</div>