<div class="row g-4 m-3 p-3">
    <h2>Los más jugados:</h2>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614409/God_of_war_HD_Game_Wallpaper_1920x1080_ys73l1.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 my-2">god of war ascension</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614409/3840x2160-Valorant-Omen-Wallpaper-4K-scaled_qrlcaz.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">VALORANT: Riot Games</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614410/3553_c4shs0.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Titanfall - Electronic Arts</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614415/assassins-creed-valhalla-ps5_2560x1440_xtrafondos.com_xlawks.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">assassin's creed valhalla</span>
    </div>
    <hr>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/download_1_dmh1od.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 my-2">Super Mario Bros Star</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/video-games-pacman-retro-games-blue-wallpaper-preview_wfauor.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Pacman Classic Game</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/1366_2000-e1601545033631_eigcgj.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Contra Classic Game</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614407/1366_2000_lll5gp.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Resident Evil 4 Remake</span>
    </div>
    <hr>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614408/13106_ti15ux.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Battlefield</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614408/d86499248b038abea11380106d2eefec-700_ep0vlq.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Assassin's Creed: Revelations</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614408/1542442_g8ue5e.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Horizon Forbbiden West</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614409/The-Last-of-US-PC-game_1680x1050_mhb7bv.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">The Last Of Us</span>
    </div>
    <hr>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614409/los-mejores-juegos-de-terror-og_at0cph.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Resident Evil 2 Remake</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614410/juego-de-guardianes-de-la-galaxia_2560x1440_xtrafondos.com_hpk765.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Guardians Of The Galaxy</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614412/spider-man-ps4_2560x1440_xtrafondos.com_cwpc5o.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Marvel's Spider-Man</span>
    </div>
    <div class="col btn btn-light">
        <img src="https://res.cloudinary.com/dxnn5sbsz/image/upload/v1682614408/fondo-de-pantalla-juegos-5_hbus3b.jpg" alt="Cover photo" class="game-image">
        <span class="fs-5 mx-2">Gears Of Wars 2</span>
    </div>
</div>