.logo-navbar{
    font-family: inherit;
    font-weight: bold;
    color: #0d6efd;
    font-size: xx-large;
}

#friend-results {
    position: absolute;
    top: 100%;
    width: 30%;
    margin-top: -1rem;
    margin-left: 1rem;
  }

.badge-added {
    padding: 0.55rem 0.6rem;
    background-color: rgb(32, 32, 32);
}

.image-friends{
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
    margin: 2rem;
}

.div-container-image-commer{
    max-width: 55%;
    margin-right: 1rem;
}

.img-fluid-commer{
    width: 130px;
    height: 120px;
    object-fit: cover;
    border-radius: 10%;
}

.game-image-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
}

.pages-image-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10%;
}

.menu-chats-navbar{
    width: 450px;
}

.messe-image-navbar{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.section-rigth-home{
    position: sticky;
    top: 75px
}