<div class="row row-cols-1 row-cols-md-5 g-4">
  <% @imagenes.each do |imagen| %>
    <%publication_id = Publication.find_by(user:@user, image_id:imagen.id )%>
    <div class="col">
      <%= link_to publication_path(publication_id)do%>
        <%= image_tag imagen.url, class: "images-users" %>
      <% end %>
    </div>
  <% end %>
  <div class="col">
    <% if @user.id == current_user.id %>
      <%= render 'images/load_image'%>
    <% end %>
  </div>
</div>

