<div class="row row-cols-1 row-cols-md-5 g-4">
  <% @imagenes.each do |imagen| %>
    <div class="col">
      <%= image_tag imagen.url, class: "images-users" %>
    </div>
  <% end %>
  <div class="col">
    <% if @user.id == current_user.id %>
      <%= render 'images/load_image'%>
    <% end %>
  </div>
</div>

