<nav class="navbar navbar-expand-lg navbar-light border-secondary shadow-sm">
  <div class="container-fluid d-flex ">
    <a class="navbar-brand logo-navbar" href="#">Facebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between justify-align-items" id="navbarSupportedContent">
        <%= render 'layouts/search_friends'%>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link rounded-circle bg-light p-3" href="#" id="messeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope" style="transform: scale(1.5);"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="messeDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link rounded-circle bg-light p-3" href="#" id="notifiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell" style="transform: scale(1.5);"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notifiDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle  rounded-circle bg-light p-2 my-1" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if current_user.image_profile_id %>
                            <%= image_tag Image.find( current_user.image_profile_id).url, class:"profile-image-icon" %>
                        <% else %>
                            <i class="fa fa-user"></i>
                        <% end %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><%= link_to("Cerrar sesión", destroy_user_session_path,
                            class: "btn btn-danger logout-button dropdown-item", method: :delete)%>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
  </div>
</nav>